.button{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    color: #333333;
    box-shadow: 5px 5px 0 0 #8f8f8f;
    transition: 0.2s;
    font-size: 18px;
}
.button:hover{
    background-color: #515050;
    color: #fff;
}
.button:active{
    box-shadow: none;
    transform: translate(5px, 5px);
}
@media (hover: none) and (max-width: 992px){
    .button:hover{
        color: #333333;
        background-color: #fff;
    }
}